{% include 'Include/header.twig' %}

<div class="content-main">

		     <div class="banner">
		    	<h2>
				<a href="/ryu">Accueil</a>
				<i class="fa fa-angle-right"></i>
				<span>Liste des clients ayant démandée une Assisance médecale</span>
				</h2>
		    </div>
		<!--//banner-->
<div class="container-fluid">
	<h2> Demande non traitées</h2>
	<table class="display table table-hover table-striped table-bordered" id="tab2" border="1"  style="width:100%">
																		<thead>
																		<tr>
																			<th>N</th>
																			<th>Code</th>
																			<th>nom & prénom</th>
																			<th>Pour </th>
																			<th>Position</th>
																			<th>Demande</th>
																			<th>Motif de l'assistance Medicale</th>
																			<th>Attribué Medecin</th>
																			<th>Action</th>
																		</tr>
																		</thead>
																		<tbody>
																		{% for item in info.assistance %}

																			<tr class="mtn" id="{{ item._id }}" data-code="{{item.code}}" data-ident="{{item.ident}}">
																				<td scope="row">{{ loop.index }}</td>
																				<td>{{ item.code }}</td>
																				<td>{{ item.clientName }} </td>
																				<td>
																				{% if item.name != "" %}
																					<p>{{item.name}}  {{item.age}} ans</p>
																				{% else %}
																					<p>Moi même</p>
																				{% endif %}
																				</td>
																				<td>{{ item.posAc }}</td>
																				<td>{{item.autreProbleme}}</td>
																				<td>{{item.Motif}}</td>
																				<td>
																				<select class="custom-select">
																					<option selected>Choisir un medecin</option>
																					{% for items in info.medecinAss %}
																					<option value="{{items.name}}">{{items.name}} | {{items.specialite}} | {{items.address}} |</option>
																				{% endfor %}
																				</select>
																				
																				</td>
																				<td>
																				<div class="flex-center">
																				<button type="button" class="btn btn-outline-primary sendMessage">Envoyer</button>
																				</div>
																				</td>
																			</tr>
																		{% endfor %}
																		</tbody>
																	</table>
				
	<div class="clearfix"> </div>
</div>
    
<div class="container-fluid">
	<h2> Demande traitées</h2>
	<table class="display table table-hover table-striped table-bordered" id="listClient2" border="1"  style="width:100%">
																		<thead>
																		<tr>
																			<th>N</th>
																			<th>Code</th>
																			<th>nom & prénom</th>
																			<th>Pour </th>
																			<th>Position</th>
																			<th>Demande</th>
																			<th>Motif de l'assistance Medicale</th>
																			<th>Medecin</th>																	</tr>
																		</thead>
																		<tbody>
																		{% for item in info.total %}

																			<tr class="mtn" id="{{ item._id }}" data-ryu="{{item.code}}" data-ident="{{item.ident}}">
																				<td scope="row">{{ loop.index }}</td>
																				<td>{{ item.code }}</td>
																				<td>{{ item.clientName }} </td>
																				<td>
																				{% if item.name != "" %}
																					<p>{{item.name}}  {{item.age}} ans</p>
																				{% else %}
																					<p>Moi même</p>
																				{% endif %}
																				</td>
																				<td>{{ item.posAc }}</td>
																				<td>{{item.autreProbleme}}</td>
																				<td>{{item.Motif}}</td>
																				<td>
																				{{item.medecin}}
																				</td>
																			</tr>
																		{% endfor %}
																		</tbody>
																	</table>
				
	<div class="clearfix"> </div>
</div>
    
{% include 'Include/footer.twig' %}