{% include 'Include/header.twig' %}

<div class="content-main">

		     <div class="banner">
		    	<h2>
				<a href="/ryu">Accueil</a>
				<i class="fa fa-angle-right"></i>
				<span>Base de Donné Allô Santé Express</span>
				</h2>
		    </div>
		<!--//banner-->
<div class="container-fluid">

<table class="display table table-hover table-striped table-bordered" id="listClient" border="1"  style="width:100%">
																	<thead>
																	<tr>
																		<th>N</th>
																		<th>Code</th>
																		<th>nom & prénom</th>
																		<th>numero</th>
																		<th>addresse</th>
																		<th>nombre de Services Utilisé</th>
																		<th>date d'enregistrement</th>
																	</tr>
																	</thead>
																	<tbody>
																	{% for item in info.clients %}

																		<tr class="mtn" id="{{ item._id }}">
																			<td scope="row">{{ loop.index }}</td>
																			<td>{{ item.ident }}</td>
																			<td>{{ item.name }} </td>
																			<td>{{ item.numero }}</td>
																			<td>{{ item.pays.pays }}, {{item.address}}</td>
																			<td>{{item.services|length}}</td>
																			<td>{{item.register_date|date('d/m/Y H:i')}}</td>
																		</tr>
																	{% endfor %}
																	</tbody>
																</table>
               
<div class="clearfix"> </div>
   </div>
    
</div>

{% include 'Include/footer.twig' %}