{% include 'Include/header.twig' %}

<div class="content-main">

    <div class="banner">
        <h2>
            <a href="/ryu">Accueil</a>
            <i class="fa fa-angle-right"></i>
            <span>Gestion Etablissement Pour le réferencement</span>
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form style="background: white" action="/ryu/refetablissements" method="post" enctype="multipart/form-data">
                    <div class="vali-form">
                        <div class="col-md-4 form-group1">
                            <label class="control-label">Nom de L'établissement</label>
                            <input type="text" name="name" required="">
                        </div>
                        <div class="col-md-4 form-group1 form-last">
                            <label class="control-label">nom du Responsable</label>
                            <input type="text" name="nameRespo" required="">
                        </div>
                        <div class="col-md-4 form-group1 form-last">
                            <label class="control-label">fonction du Responsable</label>
                            <input type="text" name="fonction" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="vali-form">
                        <div class="col-md-4 form-group1">
                            <label class="control-label">Email</label>
                            <input type="email" name="email" required="">
                        </div>
                        <div class="col-md-4 form-group1 form-last">
                            <label class="control-label">Numero</label>
                            <input type="text" name="numero" required="">
                        </div>
                        <div class="col-md-4 form-group1 form-last">
                            <label class="control-label">Second Numero</label>
                            <input type="text" name="numeroSecond" >
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="vali-form">
                        <div class="col-md-4 form-group1">
                            <label class="control-label">Situation Gégraphique</label>
                            <textarea name="localisation" required=""></textarea>
                        </div>
                        <div class="col-md-8 form-group1 form-last">
                            <label class="control-label">complementaire</label>
                            <textarea name="complementaire"></textarea>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 form-group2 group-mail">
                        <label class="control-label">Pays</label>
                        <select name="pays" class="form-control">
                            <option selected="selected" disabled="disabled">Le pays</option>
                            {% for err in info.ville %}
                                <option value="{{ err.name }}">{{ err.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Ville & Commune</label>
                            <input type="text" name="address" placeholder="Abidjan/Cocody" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <div class="col-md-12 form-group">
        
                    <fieldset id="additional-field-model">
                        <div class="form-group">
                            <div class="col-md-4 col-xs-5">
                                <label class="col-md-12 control-label" for="field">Nom de la spécialité</label>
                                <div class="input-group">
                                    <input type="text" name="field" placeholder="Pédiatrie" class="form-control input-md" multiple required>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-5">
                                <label class="col-md-12 control-label" for="field">Nom de la spécialité</label>
                                <div class="input-group">
                                    <input type="text" name="field" placeholder="Thérapie" class="form-control input-md" value="" multiple required>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-7 text-right">
                                <label class="col-xs-12 control-label" for="field-c"><br /></label>
                                <a href="javascript:void(0);"  class="btn btn-warning remove-this-field">
                                    <i class="fa fa-remove"></i>
                                    <span class="hidden-xs"> Supprimer </span>
                                </a>
                                <a href="javascript:void(0);"  class="btn btn-success create-new-field">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-xs"> Ajouter Spécialité </span>
                                </a>
                            </div>
                        </div>
                    </fieldset>
                    </div>
                    <div class="col-md-6 form-group2 group-mail">
                    <label class="control-label">Image Profil</label>
                        <input type="file" style="display: inline-block" id="fixeInput" name="fixeInput">
                        <div class="clearfix"></div>
                        <br>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-default">Vider</button>
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
            
            <div class="col-md-12">
                <h2> Tableau des Etablissements</h2>
                <table class="display table table-hover table-striped table-bordered" id="listClient" border="1"  style="width:100%">
																	<thead>
																	<tr>
																		<th>Profil</th>
																		<th>Nom de L'établissement</th>
																		<th>Responsable</th>
																		<th>Contact</th>
																		<th>Adresse</th>
																		<th>Complementaire</th>
																		<th>Spécialité</th>
																	</tr>
																	</thead>
																	<tbody>
																	{% for item in info.Admin %}

																		<tr class="mtn" id="{{ item._id }}" data-code="{{item.code}}" data-ident="{{item.ident}}">
																			<td scope="row"><img class="img-responsive " src="../images/tools/{{item.image}}"/></td>
																			<td>{{ item.name }}</td>
																			<td>{{ item.nameResponsable }}<br>Fonction: {{ item.fonctionResponsable }}</td>
																			<td>{{item.email}}<br>{{ item.contactUn }} <br> {{item.contactDeux}}</td>
																			<td>{{item.pays}}, {{item.ville}} : {{item.situationGeographique}}</td>
																			<td>
                                                                            {{item.complementaire}}
																			</td>
																			<td><p>
																			{% for items in item.specialite %}
                                                                                {{items.name}} ,
                                                                            {% endfor %}
                                                                            </p>
																			</td>
																		</tr>
																	{% endfor %}
																	</tbody>
																</table>
               

            </div>
        </div>
    </div>
</div>


{% include 'Include/footer.twig' %}