{% include 'Include/header.twig' %}

<div class="content-main">

    <div class="banner">
        <h2>
            <a href="/ryu">Accueil</a>
            <i class="fa fa-angle-right"></i>
            <span>Gestion Medecin Pour Référencement</span>
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <form style="background: white" action="/ryu/refmedecin" method="post" enctype="multipart/form-data">
                    <div class="vali-form">
                        <div class="col-md-6 form-group1">
                            <label class="control-label">Nom & Prénoms</label>
                            <input name="name" type="text" placeholder="nom" required="">
                        </div>
                        <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Numero</label>
                            <input name="numero" type="text" placeholder="48803377" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="vali-form">
                        <div class="col-md-6 form-group1">
                            <label class="control-label">Etablissement medicale</label>
                            <input name="clinic" type="text" placeholder="Etablissement medicale" required="">
                        </div>
                        <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Spécialité</label>
                            <input name="specialite" type="text" placeholder="Pediatrie, Génecologie" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 form-group2 group-mail">
                        <label class="control-label">Adresse</label>
                        <select name="pays" class="form-control">
                            <option selected="selected" disabled="disabled">Le pays</option>
                            {% for err in info.ville %}
                                <option value="{{ err.name }}">{{ err.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Ville & Commune</label>
                            <input name="address" type="text" placeholder="Abidjan/Cocody" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <div class="vali-form">
                        <div class="col-md-6 form-group1">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" required="">
                        </div>
                        <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Second Contact</label>
                            <input name="numeroSecond" type="text" placeholder="" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">Image Profil</label>
                        <input type="file" style="display: inline-block" id="fixeInput" name="fixeInput">
                        <div class="clearfix"></div>
                        <br>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-default">Vider</button>
                    </div>
                    <div class="clearfix"> </div>
                </form>
            </div>
            <div class="col-md-5">
                <form style="background: white" action="/ryu/ville" method="post">
                    <div class="vali-form">
                        <div class="col-md-6 form-group1">
                            <label class="control-label">Pays</label>
                            <input name="pays" type="text" placeholder="Côte d'Ivoire" required="">
                        </div>
                        <div class="col-md-6 form-group1 form-last">
                            <label class="control-label">Prefix</label>
                            <input name="prefix" type="text" placeholder="+225" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-default">Vider</button>
                    </div>
                    <div class="clearfix"> </div>
                </form>
                <div class="container-fluid">
                    <ul class="listVille">
                    {% for item in info.ville %}
                        <li>{{item.name}} | {{item.prefix}} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="gallery">
                    {% for item in info.medecin %}
                    <div class="col-md-3">
                        <div class="gallery-img">
                            <a href="../images/tools/{{item.image}}" class="b-link-stripe b-animate-go  swipebox"  title="Image Title" >
                                <img class="img-responsive " src="../images/tools/{{item.image}}" alt="" />
                                <span class="zoom-icon"> </span> </a>
                            </a>
                        </div>
                        <div class="text-gallery">
                            <h6>{{ item.name|upper }} </h6>
                            <p style="font-size: smaller; text-align: center">{{ item.clinic }} {{ item.specialite }} <br>{{ item.numero }} <br>{{ (item.numeroSe != "")? item.numeroSe : "" }} <br> {{ item.pays }} <br> {{item.address}} <br> {{ item.email}} </p>

                            <div class="actionFull">
                            <button class="btn btn-outline-danger btn-rounded del" data-del="{{item.code}}"> Supprimer </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'Include/footer.twig' %}