<!DOCTYPE HTML>
<html>
<head>
    <title>Allô| {{ info.user.clinicName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link href="../../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="../../css/mdb.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="../../css/style.css" rel='stylesheet' type='text/css' />
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../focus/css/jquery.notify.min.css" rel="stylesheet">
    <link href="../focus/css/datatables.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"> </script>
    <!-- Mainly scripts -->
    <script src="../../js/jquery.metisMenu.js"></script>
    <script src="../../js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="../../css/custom.css" rel="stylesheet">
    <script src="../../js/custom.js"></script>
    <script src="../../js/screenfull.js"></script>
    <script src="../../js/Chart.js"></script>

    </head>

    <body>
    <div id="blocus">
    <ul>
    <li>
    <p>Nom : {{info.name}}</p>
    </li>
    <p>Email : {{info.email}}</p>
    </li>
    <li>
    <p>Numero : {{info.numero}}</p>
    </li>


    <li>
    <p>Adresse : {{info.address}}</p>
    </li>

    <li>
    <p>Genre d'assurance : {{info.genre}}</p>
    </li>

    </ul>
    </div>

        <script>

			window.print();
			mywindow.close();
	</script>
    </body>

    </html>